.btn {
  position: relative;
  display: grid;
  grid-template-columns: auto 46px;
  align-items: center;
  max-width: 500px;
  gap: 23px;
  padding: 4px 4px 4px 30px;
  color: $color-btn-default;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid $color-btn-default;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &::before {
    content: "";
    position: absolute;
    right: 22px;
    width: 10px;
    height: 10px;
    background-color: $color-icon-light;
    mask-image: url("../img/sprite/icon-button-arrow.svg");
    mask-size: 10px 10px;
    mask-repeat: no-repeat;

    @include vp-767 {
      right: 16px;
      width: 8px;
      height: 8px;
      mask-size: 8px 8px;
    }
  }

  &::after {
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 44px;
    background-color: $color-background-blue;

    @include vp-767 {
      width: 34px;
      height: 34px;
    }
  }

  &:hover:not(:disabled):not([aria-disabled="true"]),
  &:focus:not(:disabled):not([aria-disabled="true"]) {
    background-color: $color-background-blue;
    color: $color-btn-white;

    &::before {
      background-color: $color-icon-default;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $color-btn-white;
    }
  }

  &:active:not(:disabled):not([aria-disabled="true"]) {
    background-color: $color-background-blue;
    color: rgba(255, 255, 255, 0.7);

    &::before {
      background-color: rgba(49, 109, 194, 0.7);
      transform: rotate(45deg);
    }

    &::after {
      background-color: $color-btn-white;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    border: 1px solid $color-form-disabled;
    color: $color-form-disabled;
    pointer-events: none;

    &::before {
      background-color: rgba(255, 255, 255, 0.6);
    }

    &::after {
      background-color: $color-form-disabled;
    }
  }

  &--dark-background {
    color: $color-btn-white;
    border: 1px solid $color-btn-white;

    &::before {
      background-color: $color-icon-default;
    }

    &::after {
      background-color: $color-btn-white;
    }

    &:hover:not(:disabled):not([aria-disabled="true"]),
    &:focus:not(:disabled):not([aria-disabled="true"]) {
      background-color: $color-background-additional;
      color: $color-additional;

      &::before {
        background-color: $color-icon-light;
        transform: rotate(45deg);
      }

      &::after {
        background-color: $color-background-blue;
      }
    }

    &:active:not(:disabled):not([aria-disabled="true"]) {
      background-color: $color-background-additional;
      color: rgba(49, 109, 194, 0.7);

      &::before {
        background-color: rgba(255, 255, 255, 0.7);
        transform: rotate(45deg);
      }

      &::after {
        background-color: $color-background-blue;
      }
    }
  }

  &--no-text {
    grid-template-columns: auto;
    padding: 0;
    width: 29px;
    height: 29px;
    border: 1px solid $color-btn-default;
    gap: 0;
    background-color: $color-btn-default;

    &::before {
      right: 50%;
      transform: translate(50%, 0);
      width: 8px;
      height: 8px;
      mask-size: 8px 8px;
    }

    &::after {
      content: none;
    }

    &:hover:not(:disabled):not([aria-disabled="true"]),
    &:focus:not(:disabled):not([aria-disabled="true"]) {
      border: 1px solid $color-btn-white;
      background-color: $color-btn-white;

      &::before {
        right: 10px;
      }
    }

    &:active:not(:disabled):not([aria-disabled="true"]) {
      &::before {
        background-color: rgba(49, 109, 194, 0.7);
      }
    }

    &:disabled,
    &[aria-disabled="true"] {
      border: 1px solid $color-btn-disabled;
      background-color: $color-btn-disabled;

      &::before {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  @include vp-1199 {
    max-width: 100%;
  }

  @include vp-767 {
    padding: 4px 4px 4px 20px;
    grid-template-columns: auto 34px;
    gap: 14px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }
}
