.details {
  background-color: $color-background-blue;
  color: $color-default-white;

  .container {
    padding-top: 126px;
    padding-bottom: 107px;
    padding-right: 205px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 138px;

    @include vp-1199 {
      grid-template-columns: 1fr;
      padding-top: 100px;
      padding-right: 45px;
      padding-bottom: 100px;
      gap: 47px;
    }

    @include vp-767 {
      padding-right: 15px;
      padding-top: 69px;
      padding-bottom: 67px;
      gap: 36px;
    }
  }
}

.details__info {
  h2 {
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;

    @include vp-1199 {
      margin-bottom: 26px;
      font-size: 34px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 13px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;

    @include vp-1199 {
      padding-right: 110px;
      margin-bottom: 36px;
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-767 {
      padding: 0;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 57px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    @include vp-1199 {
      margin-bottom: 40px;
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  img {
    border-radius: 16px;

    @include vp-767 {
      /* width: 100%;
      height: 100%; */
    }
  }
}

.details__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  counter-reset: num;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 46px;
  }

  @include vp-767 {
    padding-left: 15px;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.details__item {
  position: relative;
  z-index: 1;
  padding: 23px 25px;
  border-radius: 16px;
  border: 1px solid $color-default-white;

  &::before {
    position: absolute;
    z-index: 2;
    top: -15px;
    left: -20px;
    content: counter(num);
    counter-increment: num;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background-blue;
    width: 42px;
    height: 42px;
    font-size: 22px;
    line-height: 22px;

    @include vp-767 {
      width: 27px;
      height: 27px;
      top: -3px;
      left: -14px;
      font-size: 18px;
      line-height: 18px;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  @include vp-1199 {
    padding: 23px 25px 27px;
  }

  @include vp-767 {
    padding: 18px 25px;
  }
}
