.feature {
  position: relative;
  z-index: 1;
  padding: 30px 20px 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  color: $color-default-white;
  background-color: $color-background-blue;
  border-radius: 16px;
  border: 1px solid $color-default-white;

  &::before {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 42px;
    background-color: $color-background-blue;
    background-image: url("../img/sprite/icon-feature-star.svg");
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.7px;
    text-transform: uppercase;

    @include vp-1199 {
      max-width: 135px;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.5px;
    }

    @include vp-767 {
      max-width: 100%;
      font-size: 16px;
      line-height: 20px;
    }
  }

  p {
    width: fit-content;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.8px;

    @include vp-1199 {
      letter-spacing: -0.5px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.3px;
    }
  }

  @include vp-1199 {
    padding: 30px 20px 25px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }

  @include vp-767 {
    padding: 19px 0 24px 20px;
    gap: 3px;
  }
}
