.hero__slider {
  display: grid;
  position: relative;
}

.hero__slider-item {
  position: relative;
  background-color: $color-background-blue;

  .container {
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--experience {
    .hero__slider-item-title {
      padding-bottom: 23px;

      @include vp-1199 {
        padding-bottom: 20px;
      }

      @include vp-767 {
        padding-bottom: 15px;
      }
    }

    .hero__slider-item-text-content {
      padding-bottom: 27px;

      @include vp-1199 {
        padding-bottom: 32px;
      }

      @include vp-767 {
        padding-bottom: 0;
      }
    }
  }
}

.hero__slider-item-content {
  position: absolute;
  z-index: 3;
  left: 100px;
  bottom: 60px;

  @include vp-1199 {
    left: 45px;
  }

  @include vp-767 {
    left: 15px;
    bottom: 20px;
  }
}

.hero__slider-item-title {
  max-width: 968px;
  padding: 40px 50px 28px;
  border-radius: 0 30px 30px 0;
  background-color: $color-background-additional;

  h2 {
    width: fit-content;
    margin: 0;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    letter-spacing: -1.8px;
    color: $color-additional;

    @include vp-1199 {
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -1.2px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -0.6px;
    }
  }

  @include vp-1199 {
    max-width: 659px;
    padding: 30px 40px 20px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 20px 14px 16px;
    border-radius: 0 16px 16px 0;
  }
}

.hero__slider-item-text-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 772px;
  padding: 0 50px 34px;
  border-radius: 0 0 30px 30px;
  background-color: $color-background-additional;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: -26px;
    width: 26px;
    height: 26px;
    background-image: url("../img/sprite/icon-angle.svg");

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
      top: 5px;
      background-size: 10px 10px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.6px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      max-width: 261px;
      margin-top: -5px;
      padding: 0 12px 9px 14px;
      border-radius: 0 0 14px 0;
      font-size: 14px;
      letter-spacing: -0.5px;
      background-color: $color-background-additional;
    }
  }

  @include vp-1199 {
    max-width: 591px;
    align-items: flex-start;
    gap: 10px;
    padding: 0 40px 32px;
  }

  @include vp-767 {
    width: fit-content;
    display: block;
    padding: 0;
    background-color: transparent;
  }
}

.hero__slider-item-btn {
  @include vp-767 {
    position: relative;
    max-width: 182px;
    padding: 10px 15px;
    border-radius: 0 0 14px 14px;
    background-color: $color-background-additional;

    &::before {
      content: "";
      position: absolute;
      right: -10px;
      top: 0;
      width: 10px;
      height: 10px;
      background-image: url("../img/sprite/icon-angle.svg");
      background-size: 10px 10px;
    }
  }
}

.hero__slider-item-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-overlay-photo;
}

.hero__slider-pagination-wrapper {
  .container {
    position: relative;
    padding: 0;
  }

  @include vp-1199 {
    top: 676px;
  }
}

.hero__slider-pagination {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 12px;
  border-radius: 20px 20px 0 0;
  padding: 14px 20px;
  background-color: $color-background-additional;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url("../img/sprite/icon-angle.svg");
    background-size: 20px 20px;
    transform: rotate(270deg);

    @include vp-767 {
      right: -10px;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    border: 1px solid $color-btn-default;
    cursor: pointer;

    &-active {
      background-color: $color-background-blue;
    }

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }

  @include vp-767 {
    border-radius: 12px 12px 0 0;
    padding: 10px 16px;
  }
}
