.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-1199 {
    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  background-color: $color-background-blue;

  &:hover,
  &:focus {
    .social__icon {
      fill: rgba(255, 255, 255, 0.7);
    }
  }

  &:active {
    background-color: $color-btn-active;

    .social__icon {
      fill: $color-icon-light;
    }
  }

  @include vp-767 {
    width: 26px;
    height: 26px;
    padding: 7px;
  }
}

.social__icon {
  fill: $color-icon-light;
}
