// Colors
// ---------------------------------

// Default

$color-default-black:               #484848;
$color-default-white:               #ffffff;
$color-additional-white:            #f0efe9;
$color-additional:                  #316dc2;

$color-btn-default:                 #316dc2;
$color-btn-white:                   #ffffff;
$color-btn-active:                  #275699;
$color-btn-disabled:                #a9afb7;

$color-background-default:          #f0efe9;
$color-background-additional:       #ffffff;
$color-background-blue:             #316dc2;

$color-icon-default:                #316dc2;
$color-icon-light:                  #ffffff;

$color-form-light:                  #ffffff;
$color-form-dark:                   #484848;
$color-form-error:                  #ff5e66;
$color-form-disabled:               #a9afb7;

$color-overlay-photo:               rgba(49, 109, 194, 0.2);
$color-overlay-menu:                rgba(13, 29, 51, 0.4);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-default:                        "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
